<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Watchlist Item #<%= @watchlist_item.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User</dt>
              <dd><%= @watchlist_item.user_id %></dd>

              <dt>Movie</dt>
              <dd><%= @watchlist_item.movie_id %></dd>

              <dt>Watched</dt>
              <dd><%= @watchlist_item.watched %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to watchlist_items_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_watchlist_item_url(@watchlist_item.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to watchlist_item_url(@watchlist_item.id), :method => "delete", :data => { :confirm => "Do you really want to delete this watchlist_item?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
