<%= form_for @role, html: {:class => "form-horizontal"} do |f| %>
  <!-- Label and input for actor_id -->
  <div class="form-group">
    <%= f.label :actor_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select :actor_id, Actor.all, :id, :name, {}, class: 'form-control' %>
    </div>
  </div>

  <!-- Label and input for movie_id -->
 <div class="form-group">
     <%= f.label :movie_id, class: 'col-sm-2 control-label' %>
     <div class="col-sm-10">
       <%= f.collection_select :movie_id, Movie.all, :id, :title, {}, class: 'form-control' %>
     </div>
   </div>

  <!-- Label and input for character_name -->
  <div class="form-group">
      <%= f.label :character_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :character_name, class: 'form-control' %>
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-success' %>
      or
      <a href="/roles">Cancel</a>
    </div>
  </div>
<% end %>
